.main {
  composes: main from global;
}

.titleContainer {
  composes: titleContainer from global;
}

.title {
  composes: title from global;
}

.grid {
  composes: grid from global;
}

.button {
  composes: button from global;
}

.backButton {
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db; /* Cinza claro para a borda */
  border-radius: 0.375rem; /* Bordas arredondadas */
  background-color: #ffffff; /* Fundo branco */
  color: #374151; /* Cor do texto cinza escuro */
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.backButton:hover {
  background-color: #f9fafb; /* Fundo levemente acinzentado no hover */
  border-color: #9ca3af; /* Borda mais escura no hover */
}